@import "image";

article {

  img {
    @include img-responsive;
  }

  blockquote {
    color: #555;
    font-style: italic;
  }
  body {
    font-family: 'Roboto';
    padding-top: 5vh;
  }
  p {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 1.8em;
  }

}

#subscribe h2 a {
  color: white;
}