{{ partial "head.html" . }}

{{ partial "nav.html" . }}

{{ $category := index (index (index .Data.Pages 0).Params.categories) 0 }}

{{ partial "header.html" (index .Site.Data.landing $category) }}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
      {{ range .Data.Pages }}
          {{ .Render "summary" }}
      {{ end }}
      {{ range (index .Site.Data.landing $category "posts") }}
          {{ partial "image-item.html" . }}
      {{ end }}
    </div>
    <div class="container text-center">
      <h2>We also have resources on other topics. Check them out <a href="http://codecookbook.co">here</a>.</h2>
    </div>
</section>

{{ partial "subscribe.html" (index .Site.Data.landing $category) }}
{{ partial "footer.html" . }}