{{ partial "head.html" . }}

{{ partial "header.html" . }}

<section id="portfolio" class="bg-light-gray">
    <div class="container">
      {{ range .Data.Pages }}
          {{ .Render "summary" }}
      {{ end }}
      {{ range (index .Site.Data.future "ux") }}
          {{ partial "image-item.html" . }}
      {{ end }}
    </div>
    <div class="container">
      <h2>We also have resources on other topics. Check them out <a href="http://codecookbook.co">here</a>.</h2>
    </div>
</section>

{{ partial "subscribe.html" . }}
{{ partial "footer.html" . }}