{{ partial "head.html" . }}

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Code Cookbook</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {{ partial "header.html" . }}

    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Can I Haz?</h2>
                    <h3 class="section-subheading text-muted">Yes you can. All of them. For free. You're welcome.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/post/how-to-share-text-from-your-react-native-app" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/chat.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How to Share Text from Your React Native App</h4>
                        <p class="text-muted">~ 8 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/post/how-to-make-network-requests-in-react-native/" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/search.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How to make Network Requests in React Native</h4>
                        <p class="text-muted">~ 7 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/post/how-to-build-a-react-native-login-form-with-redux-pt1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/flame.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How to build a React Native Login Form with Redux</h4>
                        <p class="text-muted">~ 10 minutes</p>
                    </div>
                </div>
                <div class="col-md-12 portfolio-item">
                    <a href="/text/how-react-native-dies" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/flame.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>How React Native Dies</h4>
                        <p class="text-muted">Op Ed ~ 10 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Video Recipies?</h2>
                    <h3 class="section-subheading text-muted">I'm sorry. I know the metaphor is corny.</h3>
                </div>
            </div>
            <div class="row text-center">
              <h4>Ain't nobody got time for reading long blog posts or taking courses on a new stack. You need to know how to use new tech to build great React Native apps yesterday. Code Cookbook gives you the recipies you need to build something great today.</h4>
            </div>
        </div>
    </section>

{{ partial "subscribe.html" . }}

{{ partial "footer.html" . }}