{{ partial "head.html" . }}

<body>

    {{ partial "nav.html" . }}

    {{ partial "header.html" .Site.Params }}

    <section id="recipes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Today's Menu</h2>
                    <h3 class="section-subheading text-muted">Go ahead. Try one. They're free. You're welcome.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div>
                    <a href="/post/how-to-share-text-from-your-react-native-app">
                        <img class="img-responsive" src="img/chat.png">
                    </a>
                  </div>
                    <div>
                        <h4>How to Share Text from Your React Native App</h4>
                        <p>~ 8 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div>
                      <a href="/post/how-to-make-network-requests-in-react-native/">
                          <img src="img/search.png" class="img-responsive" alt="">
                      </a>
                    </div>
                    <div>
                        <h4>How to make Network Requests in React Native</h4>
                        <p class="text-muted">~ 7 minutes</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div>
                      <a href="/post/how-to-build-a-react-native-login-form-with-redux-pt1">
                          <img src="img/flame.png" class="img-responsive">
                      </a>
                    </div>
                    <div>
                        <h4>How to build a React Native Login Form with Redux</h4>
                        <p>~ 10 minutes</p>
                    </div>
                </div>
                <div class="col-md-offset-4 col-md-4">
                    <a href="/text/how-react-native-dies">
                        <img src="img/flame.png" class="img-responsive" alt="">
                    </a>
                    <div>
                        <h4>How React Native Dies</h4>
                        <p class="text-muted">Op Ed ~ 10 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Why Recipies?</h2>
                    <h3>I'm sorry. I know the metaphor is corny.</h3>
                </div>
            </div>
            <div class="row text-center">
              <h4>Who has time for taking courses or reading books on a new stack? You need to know how to use new tech to build great React Native apps yesterday. Code Cookbook gives you the recipies you need to build something great today.</h4>
            </div>
        </div>
    </section>

{{ partial "subscribe.html" . }}

{{ partial "footer.html" . }}